<div class='afterpay-container' payment_method_id='<%=payment_method.id%>'>
   <script>
    $(document).ready(function() {
      $('#afterpay_button').attr('href',"/afterpay?payment_method_id=<%=payment_method.id%>");
  });
   </script>
</div>
